.contain{

    position: absolute;
width: 762px;
height: 446px;
left: 374px;
top: 153px;

background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.13);
border-radius: 25px;
}


/* .inp{
   
    width: 293px;
    height: 29px;
    left: 704px;
    top: 327px;
    border-top:0;
    border-right:0;
  
    border-left:0;
    

} */
.input-box {
    border-bottom: 1px solid #C1C7D0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.input-box svg{
    border-right: 1px solid #C1C7D0;
    width: 10%;
}
.input-box input{
    border: none;
    width:90%;
    background: transparent;
    font-size: 12px;
}
.password-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.password-section label, .password-section .text-right{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 194.62%;
color: #324A59;

}
.remember-block {
    display: flex;
    align-items: center;
    gap: 5px;
}
.forget {
    display: flex;
    align-items: center;
}
.login-btn{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
color: #FFFFFF;
background: #FF4F5A !important;
border-radius: 10px !important;
line-height: 22px;
width: 100%;
border: none;
}
.sign-up-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;
color: #232323;
}